<h3>Finalized Audit of 2012 Financial Statements</h3>
<p>
	We have completed an audit of the financial statements from 2012 for Fundrise 1351 H Street LLC.
	An audit is a comprehensive examination and evaluation of the financial statements of an organization 
	by an external firm.  The goal of the audit is to ensure the fiscal accuracy and financial responsibility 
	of the organization.  
</p>
<div class="pdf">
	<p>
		<a href="https://s3.amazonaws.com/fundrise-content/portfolio-updates/1351-h-street-ne/2013-07-01/Fundrise-1351-H-Street-LLC-Audit.pdf" 
			target="_blank">Fundrise 1351 H Street LLC 2012 Audit</a>
	</p>
</div>
<h3>Construction Update</h3>
<p>
	The excavation of the property has finished and the majority of the underpinning of the building has been completed. 
	The large amount of rain over the last month caused minor delays as time was needed to remove standing water from 
	the open basement, however we do not expect this to change the final delivery date.
</p>
<div class="image-bordered mb4">
	<img src="https://s3.amazonaws.com/fundrise-content/portfolio-updates/1351-h-street-ne/2013-07-01/image-2.jpeg" />
</div>
<div class="image-bordered mb4">
	<img src="https://s3.amazonaws.com/fundrise-content/portfolio-updates/1351-h-street-ne/2013-07-01/image-3.jpeg" />
</div>
<div class="image-bordered mb4">
	<img src="https://s3.amazonaws.com/fundrise-content/portfolio-updates/1351-h-street-ne/2013-07-01/image-4.jpeg" />
</div>
<p>Below is the progress report for Maketto:</p>
<p>Progress:</p>
<ul class="fancy-bullets">	
	<li>
		Underpinning of the basement walls has been completed.  Information on underpinning can be found at:
		<a href="http://construction.about.com/od/Warehouse-Remodeling/a/What-Is-Underpinning-Underpinning-Methods.htm" target="_blank">
			http://construction.about.com/od/Warehouse-Remodeling/a/What-Is-Underpinning-Underpinning-Methods.htm
		</a>
	</li>	
	<li>Structural engineer reviewed and approved the underpinning work.</li>	
	<li>
		Repointing of the brick has been substantially completed on the first floor interior masonry.
	 	Information on brick repointing can be found at:
	 	<a href="http://en.wikipedia.org/wiki/Repointing" target="_blank">http://en.wikipedia.org/wiki/Repointing</a>
	 </li>	
</ul>
<p>Next Steps:</p>
<ul class="fancy-bullets">	
	<li>Excavate for underground plumbing for the basement bathrooms</li>
	<li>Civil engineer and project team meeting on site to review the sub-slab drainage system</li>
	<li>Water and sewer plans approval by DC WASA</li>
	<li>DDOT permitting and approval</li>
	<li>Electric plans approval by PEPCO</li>
</ul>
<p>
	Prior to the underpinning process, a geotechnical engineer conducted tests on the soil for bearing pressure, 
	and issued his findings in the report below:
</p>
<div class="pdf">
	<p>
		<a href="https://s3.amazonaws.com/fundrise-content/portfolio-updates/1351-h-street-ne/2013-07-01/Maketto-Geotechnical-Report.pdf" target="_blank">
			Maketto Geotechnical Report
		</a>
	</p>
</div>
<p>
	Here is the estimated construction timeline and total construction budget from the Maketto contractor:
</p>
<div class="pdf">
	<p>
		<a href="https://s3.amazonaws.com/fundrise-content/portfolio-updates/1351-h-street-ne/2013-07-01/Maketto-Construction-Budget.pdf" target="_blank">
			Maketto Construction Budget
		</a>
	</p>
</div>
<div class="pdf">
	<p>
		<a href="https://s3.amazonaws.com/fundrise-content/portfolio-updates/1351-h-street-ne/2013-07-01/Maketto-Construction-Schedule.pdf" target="_blank">
			Maketto Construction Schedule
		</a>
	</p>
</div>
<p>
	There was an initial deposit paid to our contractor of 20% of the total construction budget in March.  
	Here is the second invoice from the Maketto contractor for work performed up to April 31, 2013:
</p>
<div class="pdf">
	<p>
		<a href="https://s3.amazonaws.com/fundrise-content/portfolio-updates/1351-h-street-ne/2013-07-01/Maketto-GC-Payment-Application+4.5.13.pdf" target="_blank">
			Maketto Construction Invoice
		</a>
	</p>
</div>
<div class="clearfix">
	<div class="float-left image-bordered">
		<img class="native-width" src="https://s3.amazonaws.com/fundrise-content/developers/westmill-capital-partners/avatar.png" />
	</div>		
	<div class="float-left pt4 pl3">WestMill Capital Partners</div>
</div>
