<p style="color: #55595e; font-size: 16px; margin-top: 0px; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; line-height: 24px; margin-bottom: 16px;">
	The <a target="_blank" href="https://localhost:8443/fundrise/reits/income-ereit/view" style="word-wrap: break-word; color: #F47735; text-decoration: underline;">Fundrise Income eREIT</a>&nbsp;is now open and will be processing sales for approximately $3M.
</p>
<p style="color: #55595e; font-size: 16px; margin-top: 0px; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; line-height: 24px; margin-bottom: 16px;">
	<img alt="" src="https://s3.amazonaws.com/fundrise-content-dev/email-interface/campaign/1/ba556f89-84a8-45a2-82b0-886b82ebbdf3.jpg" style="max-width: 100%;" />
    <br />
</p>
<p style="color: #55595e; font-size: 16px; margin-top: 0px; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; line-height: 24px; margin-bottom: 16px;">
	<a target="_blank" href="https://localhost:8443/fundrise/reits/income-ereit/view" class="button" style="border-radius: 3px; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); word-wrap: break-word; color: #fff; background: #F47735; text-decoration: none; vertical-align: top; font-size: 24px; line-height: 60px; border-color: #F47735; border-width: 16px 24px; border-style: solid;">Invest Now</a>
</p>
<p style="color: #55595e; font-size: 16px; margin-top: 0px; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; line-height: 24px; margin-bottom: 16px;">
	<b>More than 47,000 people have expressed interest in investing in the Income eREIT so we do expect today’s window to go quickly.</b>
</p>
<p style="color: #55595e; font-size: 16px; margin-top: 0px; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; line-height: 24px; margin-bottom: 16px;">
	As a reminder, investments are accepted on a first-come, first-served basis and are available to any investor in the US. Investors will be diversified across all underlying investments made by the Income eREIT.
</p>
<p style="color: #55595e; font-size: 16px; margin-top: 0px; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; line-height: 24px; margin-bottom: 16px;">
	Yesterday we announced that the Income eREIT has made a senior debt investment in a $4.9M cash-flowing land loan in Los Angeles, California. This is just one of the many assets the Income eREIT has acquired to date.
</p>
<p style="color: #55595e; font-size: 16px; margin-top: 0px; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; line-height: 24px; margin-bottom: 16px;">
	<b>You can view the Los Angeles asset here:</b> <a target="_blank" href="https://localhost:8443/fundrise/reits/income-ereit/view?showFeaturedAsset=8" style="word-wrap: break-word; color: #F47735; text-decoration: underline;">https://fundri.se/1LvcbzE</a>
</p>