<p style="color: #565a5d; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; margin: 0 0 15px;">Welcome to Fundrise, the largest online investment marketplace for real estate. My brother and I created Fundrise to give individuals access to the highest-quality real estate investments with lower minimums and lower fees.</p>
<p style="color: #565a5d; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; margin: 0 0 15px;">We have been working hard to open up Fundrise to investors from all over the world, and are pleased to inform you that as a resident of ${countryDisplay}, <strong>you are now eligible to invest</strong>.</p>
<p style="color: #565a5d; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; margin: 0 0 15px;">International investors have the following requirements:</p>
<ul style="color: #565a5d; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; margin: 0 0 15px;">
	<li>Minimum investment of $50,000 USD</li>
	<li>Funds for investment must be wire transferred</li>
	<li>We can only accept investment from individuals. Investments from entities such as trusts or LLCs are not currently accepted.</li>
</ul>
<p style="color: #565a5d; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; margin: 0 0 15px;">The first question everyone asks: <strong>Why don't I see any open investment opportunities?</strong></p>
<p style="color: #565a5d; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; margin: 0 0 15px;">Due to regulatory constraints, you must go through a mandatory 30-day &quot;cooling-off&quot; period, and will have the ability to invest beginning on <strong>${eligibilityDate}</strong>.</p>
<p style="color: #565a5d; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; margin: 0 0 15px;">Here are a few things you can do while you wait:</p>
<ol style="color: #565a5d; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; margin: 0 0 15px;">
	<li>
		<a href="${fundriseWebUrlRoot}/investing-with-fundrise?utm_source=accepted-foreign-welcome-email-day-1&utm_medium=email&utm_campaign=accepted-foreign-welcome-email-day-1" target="_blank" style="box-sizing: border-box; color: #337fcc; text-decoration: underline; word-wrap: break-word;">Learn more about the Fundrise platform</a>
	</li>
	<li>
		<a href="${fundriseWebUrlRoot}/investments?utm_source=accepted-foreign-welcome-email-day-1&utm_medium=email&utm_campaign=accepted-foreign-welcome-email-day-1" target="_blank" style="box-sizing: border-box; color: #337fcc; text-decoration: underline; word-wrap: break-word;">Explore our past investments</a>
	</li>
	<li>
		<a href="${fundriseWebUrlRoot}/education?utm_source=accepted-foreign-welcome-email-day-1&utm_medium=email&utm_campaign=accepted-foreign-welcome-email-day-1" target="_blank" style="box-sizing: border-box; color: #337fcc; text-decoration: underline; word-wrap: break-word;">Get the latest real estate and crowdfunding news on our blog</a>
	</li>
</ol>
<p style="color: #565a5d; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; margin: 0 0 15px;">If you have any questions as you learn more about the platform, feel free to reach out to our Investments Team at <a href="mailto:investments@fundrise.com" target="_blank" style="box-sizing: border-box; color: #337fcc; text-decoration: underline; word-wrap: break-word;">investments@fundrise.com</a>.</p>
<p style="color: #565a5d; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; margin: 0 0 15px;">Thanks for joining Fundrise!</p>

<p style="color: #565a5d; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; margin: 0 0 15px;">
	<strong>Ben Miller</strong><br/>
	Co-Founder &amp; CEO, Fundrise
</p>