<p style="color: #565a5d; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; margin: 0 0 15px;">Welcome to Fundrise, the first online investment platform for real&nbsp;estate.</p>
<p style="color: #565a5d; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; margin: 0 0 15px;">My brother and I created Fundrise because we believe that everyone should have the opportunity to invest in the places around&nbsp;them.</p>
<p style="color: #565a5d; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; margin: 0 0 15px;">Currently, we can only offer investment opportunities to non-US residents on a select basis. If you would like to learn more about our requirements for foreign investment please reach out to <a href="mailto:investments@fundrise.com" target="_blank" style="box-sizing: border-box; color: #337fcc; text-decoration: underline; word-wrap: break-word;">investments@fundrise.com</a>.</p>
<p style="color: #565a5d; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; margin: 0 0 15px;">In the meantime, check out our <a href="${fundriseWebUrlRoot}/education" target="_blank" style="box-sizing: border-box; color: #337fcc; text-decoration: underline; word-wrap: break-word;">education section</a> to learn more about investing in real estate or <a href="${fundriseWebUrlRoot}/investments" target="_blank" style="box-sizing: border-box; color: #337fcc; text-decoration: underline; word-wrap: break-word;">view past investments</a>.</p>

<p style="color: #565a5d; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; margin: 0 0 15px;">Thanks for joining Fundrise &mdash; we&rsquo;re excited to have you on board!</p>
<p style="color: #565a5d; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; margin: 0 0 15px;">
	<strong>Ben Miller</strong><br/>
	Co-Founder &amp; CEO, Fundrise
</p>